<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BarkDate</title>
  <link rel="icon" href="/stylesheets/assets/images/dog-tag-icon.png">
  <nav class="sticky"> 
    {{#if loggedIn}}
    <a class="link" href="/dashboard">Dashboard</a>
    <a class="link" href="/profile/{{owner_id}}">Profile Page</a>
    <button id="logout" class="button">Logout</button>
    
    {{else}}
    <a href="/login">LOGIN</a>
    <a>|</a>
    <a href="/signup">SIGNUP</a>
    {{/if}}
  </nav>
  <link rel="stylesheet" href="/stylesheets/main-style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Bark Date</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
  
  <footer>
    Thanks for visiting!
  </footer>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  
  {{/if}}
</body>
</html>