<body>
<header>
<h1>Welcome to the Homepage</h1>
<link rel="stylesheet" href="/stylesheets/home-style.css">
<link rel="icon" href="../public/stylesheets/assets/images/dog-tag-icon.png">

</header>
</body>