<header class="owner-posts">
    <h1>Welcome to the Homepage</h1>
{{#if loggedIn}}
{{#if posts.length}}
<section>
  <h2> Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
{{/if}}


    <link rel="stylesheet" href="/stylesheets/form-style.css">
    <link rel="icon" type='image/png' href="../public/stylesheets/assets/images/dog-tag-icon.png">
</header>
