<head>
    <nav class="sticky">
    {{#if loggedIn}}
    <a href="/dashboard">Dashboard</a>
    <a>|</a>
    <a href="/profile/{{user_id}}">Profile Page</a>
    <a>|</a>
    <button id="logout" class="button">Logout</button>
    
    {{else}}
    <a href="/login">LOGIN</a>
    <a>|</a>
    <a href="/signup">SIGNUP</a>
    {{/if}}
  </nav>
</head>
<header class="owner-posts">
    <h1>Welcome to the Homepage</h1>
{{#if loggedIn}}
{{#if posts.length}}
<section>
  <h2> Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
{{/if}}


    <link rel="stylesheet" href="/stylesheets/form-style.css">
    <link rel="icon" type='image/png' href="../public/stylesheets/assets/images/dog-tag-icon.png">
</header>
