{{#if main}}
{{!-- {{#each main as |name|}} --}}
<h1>{{name}}</h1>
{{!-- {{/each}} --}}
{{/if}}
<body>
<form class="login-form">
  <h4>Log in here</h4>
  <div>
    <label for="email-login">Email:</label>
    <input type="email" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<form class="signup-form">
<h4>Sign up here</h4>
  <p>Owner Info</p>
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="firstname-signup">First name:</label>
    <input type="text" id="firstname-signup" />
  </div>
    <div>
    <label for="lastname-signup">Last name:</label>
    <input type="text" id="lastname-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="email" id="email-signup" />
  </div>
  <div>
    <label for="phone-signup">Phone Number:</label>
    <input type="text" id="phone-signup" />
  </div>
  <p>Dog Info</p>
  <div>
    <label for="dogname-signup">Dog's Name:</label>
    <input type="text" id="dogname-signup" />
  </div>
  <div>
    <label for="dogbreed-signup">Dog Breed:</label>
    <input type="text" id="dogbreed-signup" />
  </div>
  <div>
    <label for="dogweight-signup">Dog's Weight (in lbs):</label>
    <input type="text" id="dogweight-signup"/>
  </div>
  <div class="radio">
     <p>Dog's Sex:
      <br>
      <label for="male">Male</label>
      <input class="option" type="radio" id="male" name="fav_language" value="male">
      <br>
      <label for="female">Female</label>
      <input class="option" type="radio" id="female" name="fav_language" value="female">
      </p>
  </div>
  <br>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>
</form>
</body>

<script src="/javascript/login.js"></script>
<link rel="icon" href="../public/stylesheets/assets/images/dog-tag-icon.png">
<link rel="stylesheet" href="/stylesheets/login-style.css">