{{!-- {{#if main}}
{{#each main as |name|}}
<h1>{{name}}</h1>
{{/each}}
{{/if}} --}}
<form class="login-form">
  <h4>Log in here</h4>
  <div>
    <label for="email-login">Email:</label>
    <input type="email" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>


</body>

<script src="/javascript/login.js"></script>
<link rel="icon" type='image/png' href="../public/stylesheets/assets/images/dog-tag-icon.png">
<link rel="stylesheet" href="/stylesheets/login-style.css">