<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>


</head>

<body>
  <main class="grid-container">
    {{!-- User Info --}}
  <div id="profile-info" class="grid-x result-row">
    <div class="small-10 large-3 result-cell cell">
      <p id="username"></p>
    </div>
    <div class="small-10 large-3 result-cell cell">
      <p id="full-name"></p>
    </div>
    <div class="small-10 large-3 result-cell cell">
      <p id="email"></p>
    </div>
    <div class="small-10 large-3 result-cell cell">
      <p id="phone-number"></p>
    </div>
  </div>

  {{!-- Dog Info --}}
<div id="dog-info" class="grid-x result-row">
    <div class="small-10 large-3 result-cell cell">
      <p id="dog-name"></p>
    </div>
    <div class="small-10 large-3 result-cell cell">
      <p id="dog-breed"></p>
    </div>
    <div class="small-10 large-3 result-cell cell">
      <p id="dog-weight"></p>
    </div>
    <div class="small-10 large-3 result-cell cell">
      <p id="dog-sex"></p>
    </div>
  </div>


  </main>



</body>

</html>