* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

/*forms styling*/
label {
    display: inline-block;
    width: 210px;
    text-align: right;
}


.login-form, .signup-form {
    background-image: none;
    background-color: rgb(255, 255, 255, .75);
    margin: auto;
    width: 50%;
}

.option {
    text-align: center;
}

