* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

body {
    background-image: url('../stylesheets/assets/images/Dalmation-print.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-color: black;
}

/* fixes the login link to the top-left corner*/
.sticky {
    position: fixed;
    top: 0;
    background: black;
    color: white;
    width: auto;
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.wrapper {
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 100%;
    text-decoration: none;
}

label {
    display: inline-block;
    width: 210px;
    text-align: right;
}

.login-form, .signup-form {
    background-image: none;
    background-color: rgb(255, 255, 255, .75);
    margin: auto;
    width: 50%;
}

/* .radio {
  width: auto;
} */

.option{
    text-align: center;
}

button {
    background-color: white;
    border-radius: 5px;
 }
