* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

body {
    background-image: url('../stylesheets/assets/images/Dalmation-print.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-color: black;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}


/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    border: 5px solid white;
}

.wrapper {
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 100%;
    text-decoration: none;
} */

button {
    background-color: white;
 }

footer { 
    background-image: none;
    background-color: rgb(255, 255, 255, .75);
    width: 25%;
    margin: auto;
    margin-bottom: 0;
    text-align: center;
    bottom: 0;
}